@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #023047;
}

body {
    height: 100dvh;
    width: 100dvw;
}

.container {
    background-color: #8ecae6;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 3fr 1fr;
    grid-template-rows: 150px 3fr 50px;
}

.left_Bar {
    height: 100%;
    background-color: #219ebc;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: repeat(auto-fill, 100px);
}

button {
    height: 50px;
    width: 200px;
    margin-left: 20px;
    box-shadow: 0.5px 0.5px 1px;
    transition: top ease 0.5s;
    position: relative;
    background: none;
    border: none;
    color: #023047;
    border-radius: 2%;
}

button:hover {
    color: #023047;
    top: -8px;
    box-shadow:#023047 3px 3px 7px;
    height: 75px;
    width: 225px;
}

.header {
    background-color: whitesmoke;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    box-shadow: #023047 5px 0 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    grid-template-rows: 50px repeat(3, 300px);
    justify-items: center;
    align-items: center;
}

.projects_Header {
    grid-column: 1 / 3;
}

.project {
    background-color: whitesmoke;
    width: 400px;
    height: 275px;
    border-left: 8px solid #ffb703;
    border-radius: 2%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    box-shadow:#023047 0.5px 0.5px 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.project:hover {
    box-shadow: #023047 5px 5px 10px;
    width: 450px;
    height: 300px;
    transform: scale(1.2);
}

.etch {
    height: 200px;
    width: 250px;
}

.right_Bar {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 50px 1fr 50px 1fr;
    justify-items: center;
    align-items: center;
}

.filler1 {
    grid-row: 2 / 3;
}

.filler2 {
    grid-row: 4 / 5;
}

.filler1,
.filler2 {
    height: 300px;
    width: 90%;
    border-radius:2%;
    background-color: whitesmoke;
    border-left: 6px solid #ffb703;
}

